/* 초기화 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Noto Sans KR", sans-serif;
  background-color: #fff;
  color: #000;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*header 영역*/
header {
  width: 100%;
}

.header-inner {
  max-width: 1315px;
  margin: 0 auto;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 91px;
}

.logo-img {
  width: 74px;
  height: 24px;
}

.gnb-list {
  display: flex;
  gap: 30px;
}

.gnb-item a {
  font-size: 17px;
  padding: 4px 16px;
}

.gnb-icons {
  display: flex;
  gap: 20px;
}

.gnb-icons button {
  width: 36px;
  height: 36px;
}

.gnb-icons button > img {
  width: 24px;
  height: 24px;
}

/*main 영역*/
main {
  width: 100%;
}

.visual {
  max-width: 1315px;
  margin: 0 auto;
  height: auto;
  display: flex;
  justify-content: space-between;
}

.visual-video {
  width: 1094px;
  height: 621px;
}

.visual-video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 20px;
}

.visual-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 206px;
  height: 621px;
}
.card1 {
  width: 206px;
  height: 206px;
  background-color: #fae203;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.card1 p {
  font-size: 17px;
  font-weight: bold;
}

.card2 {
  width: 206px;
  height: 259px;
  background-color: #f3f3f3;
  border-radius: 20px;
  padding: 20px;
}

.card2 a {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.card2 a > strong {
  font-size: 18px;
  line-height: 1.4;
}

.visual-yellow-badge {
  background-color: #fae100;
  padding: 4px 12px;
  border-radius: 8px;
}

.visual-yellow-badge span {
  font-size: 12px;
}

.visual-tag {
  color: #666666;
  font-size: 14px;
}

.card3 {
  width: 206px;
  height: 124px;
  background-color: #fae203;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card3 img {
  width: 40px;
  height: 40px;
  margin-bottom: 8px;
}

.card3 p {
  font-size: 20px;
}
