/* 초기화 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Noto Sans KR", sans-serif;
  background-color: #fff;
  color: #000;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

header {
  width: 100%;
}

.container {
  max-width: 1315px;
  margin: 0 auto;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 91px;
}

.logo-img {
  width: 74px;
  height: 24px;
}

.gnb-list {
  display: flex;
  gap: 30px;
}

.gnb-icon button > img {
  width: 24px;
  height: 24px;
}
